body{

    background-color: lightcyan;

}



.negro{
    width: 100%;
    height:  70px;
    background: url(./cesped.jpg) no-repeat center center;
    background-size: auto;
}

.secreto{
    width: 100%;
    height:  70px;
    background-color: blue;
}

.pared{
    width: 100%;
    height:  70px;
    background: url(./pared.jpg) center center;
}

.pisado{
    background: url(./pisado.jpg) no-repeat center center;
    background-size: auto;
   
}
.momia{
    width: 100%;
    height:  70px;
    background: url(./browser.png) center center;
}

.mapa{
    padding-right: 10%;
    padding-left: 10%;
    width: 80%;
    display: grid;
    grid-template-columns: repeat(21,1fr);
    grid-template-rows: repeat(14,1fr);

}

.mario{
    width: 100%;
    height:  70px;
    background: url(./mario.png) no-repeat center center;
    background-size: auto;

    
}