body{

    background-color: grey;

}

.rojo{
    width: 100%;
    height:  100px;
    background-color: red;
}


.verde{
    width: 100%;
    height:  100px;
    background-color: green;
}

.mapa{
    display: grid;
    grid-template-columns: repeat(21,1fr);
    grid-template-rows: repeat(13,1fr);
}