body {
    background-color: grey;
    padding: 3rem;
}

container {
    margin: 1rem;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-gap: 10px;
    width: 600px;
}

button {
    border: 3px solid darkgrey;
}

box {
    background-color: #1e0;
    border: 3px solid #AABBAA;
    height: 100px;
    width: 100px;
    border-radius: 10px;
    transition: transform 1s;
}

.evoluciona {
    background-color: #e10;
    transform: translateX(122px);
}

.desevoluciona {
    background-color: #10e;
}

.ultimate {
    background-color: #441155;
    content: url(../cthulhu.svg);
}

.rotate {
    animation-name: rotate;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.move {
    animation-name: move;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    position: relative;
}

@keyframes move {
    25% {
        transform: translateX(20px) translateY(20px);
    }
    50% {
        transform: translateX(40px) translateY(0px);
    }
    75% {
        transform: translateX(20px) translateY(20px);
    }
    100% {
        transform: translateX(0px) translateY(0px);
    }
}