body{
    background: url(./media/body.jpg);
    
}

#container{
    display: inline-block;
    width: 100%;
    justify-items: center;
}

#campo{
    position: fixed;
    background: url(./media/campo.jpg) center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: lightgrey;
    width: 40%;
    margin-right: 5%;
    margin-left: 5%;
    height: 900px;
    float: left;

}
#campo *{
    display: inline-block;
}

.jugador{
    float: left;
    text-align: center;
    width: 33%;
    height: 25%;
}

#banquillo{
    border: 3px solid black;
    background-color: lightgray;
    width: 49%;
    height: auto;
    float: right;
    text-align: center;

}

#banquillo h1{
    width: 100%;
    background-color: grey;
}

#banquillo div{
    border: 1px solid;
}

.jugadorBanquillo{
    float: left;
    text-align: center;
    width: 33%;
    height: 30%;
}

