.pagina{

    display: grid;
    grid-template-columns: 300px 1fr;
    grid-template-rows: auto;
    grid-template-areas: "header header"
                         "nav main"
                         "footer footer";
}
header{
    grid-area: header;
    text-align: center;
    padding-bottom: 5%;
}
nav{
    grid-area: nav;
}
main{
    grid-area: main;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-row-gap: 2%;

}
img{
    width:100%;
    
}
footer{
    grid-area: footer;
    text-align: center;
    padding-top: 7%;
}